:root
{
--semiRed__color:  #ed1d24;
--semibNavy__color: #08526D; 
}
/*************************************** Start loading page ***************************/

.loading_page{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #2980b9;
    z-index:17
}
/*
source >> https://tobiasahlin.com/spinkit/
*/
.spinner {
  position: absolute;
  top: 40%;
  left: 45%;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;

}

.spinner > div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
/*************************************** End loading page ***************************/

/*************************************** Start Heading__part section ***************************/
/* Start Commanications*/
.commanications {background-color: var( --semibNavy__color,#08526D)}
.heading__part .commanications .container-fluid i {font-size: 10px}
.heading__part .commanications .container-fluid a {text-decoration: none}
.heading__part .commanications .container-fluid a:hover {color: #fff; transition: all 0.3s}
.heading__part .commanications .container-fluid .row .lets_work button
{border: 2px solid ;background-color: transparent; }
.heading__part .commanications .container-fluid .row .lets_work button:hover
{background-color: var(--semiRed__color, #ed1d24); transition: all 0.3s}
/* End Commanications*/

/* Start navigation__bar*/
.navigation__bar .container-fluid .navbar{padding: 0.3rem 1rem}
.navbar-light .navbar-brand span{font-size: 45px;}
.navbar-light .navbar-brand span.Elite{color:var( --semibNavy__color,#08526D);font-weight: 500 }
.navbar-light .navbar-brand span.Corp{color: var(--semiRed__color, var(--semiRed__color, #ed1d24)); }
.navbar-light .navbar-nav .nav-link.active{color:var(--semiRed__color, #ed1d24) }
.navbar-light .navbar-nav .nav-link{color:var( --semibNavy__color,var( --semibNavy__color,#08526D)); font-size: 18px}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus
{color: var(--semiRed__color, #ed1d24); transition: all 0.3s ease-in-out}
/* End navigation__bar*/
/*********************************** End Heading__part section **********************************/

/*********************************** Start Carousel__part ****************************************/
.carousel__part{position: relative; overflow: hidden}
.carousel__part .overlay
{
    background-color: rgba(0,0,0,.8);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 1
}
.carousel__part .carousel-item{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}
.carousel__part .carousel-inner .slide_one{background-image: url(../Img/banner.jpg)}
.carousel__part .carousel-inner .slide_two{background-color: rgba(0,0,0,0.5)}
.carousel__part .carousel-inner .slide_three{background-image: url(../Img/banner.jpg)}
.carousel__part .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 35%;
    left: 3%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: start;
    font-size: 3.6em;
    font-weight: bold
}
.carousel__part .carousel-caption span{background-color: var(--semiRed__color, #ed1d24); padding: 0px 10px 0px 7px}
.carousel__part a
{position: absolute; top: 25em; background-color: #000; opacity: 1; color: #fff; height: 50px; width: 50px; z-index: 10;}
.carousel__part a:hover i{color:var(--semiRed__color, #ed1d24); transform: scale(1.5); transition: all 0.3}
.carousel__part .left-arrow{left: -5em;}
.carousel__part .left-arrow a{left: -5em; color: var(--semiRed__color, #ed1d24) }
.carousel__part:hover .left-arrow{left: 1em; transition: all 0.3s ease-in-out}
.carousel__part .right-arrow{right: -5em}
.carousel__part:hover .right-arrow{right: 1em; transition: all 0.3s ease-in-out}
/************************************ End Carousel__part ****************************************/

/************************************ Start Features__part ****************************************/
.Features__part{padding-top: 70px}
.Features__part div>i
{height: 50px; width: 50px; background-color: var(--semiRed__color, #ed1d24); border-radius: 50%; color: #fff; line-height: 50px}
.Features__part div>h5{color: var( --semibNavy__color,#08526D);padding-top: 20px}
/************************************ End Features__part ****************************************/

/************************************ Start Company Overview__part ****************************************/
.Company-Overview__part{margin-top: 70px; background-color: rgb(240, 245, 247); padding-top: 100px; padding-bottom: 100px}
.Company-Overview__part h2{font-weight: bold}
.Company-Overview__part p{max-width: 700px; margin: auto; margin-bottom: 30px; line-height: 2; font-size: 20px}
.Company-Overview__part span{display: block; margin-bottom: 30px}
.Company-Overview__part button{border: hidden; background-color: var(--semiRed__color, #ed1d24); padding: 15px 30px; color: #fff; width: 200px}
.Company-Overview__part button:hover{background-color: var( --semibNavy__color,#08526D); transition: all .3s ease-in-out}
/************************************ End Company Overview__part ****************************************/

/************************************ Start featured-work__part ****************************************/
.featured-work__part {margin-top: 70px;margin-bottom: 70px}
.featured-work__part p {max-width: 700px; margin: auto; margin-bottom: 30px; line-height: 2; font-size: 20px}
.featured-work__part footer .featured__list {justify-content: center}
.featured-work__part footer .featured__list > li
{
    border: 2px solid #ddd; color: var( --semibNavy__color,#08526D); margin: 5px;
    flex-grow: 0; height: 40px; line-height: 36px; flex-basis: 100px;

}
.featured-work__part footer .featured__list > li:hover
{border-color:var(--semiRed__color, #ed1d24); color: var(--semiRed__color, #ed1d24);box-sizing: border-box }
.featured-work__part footer .featured__list > li.active{background-color: var(--semiRed__color, #ed1d24); color: #fff; border-color:var(--semiRed__color, #ed1d24)}
.featured-work_images{overflow: hidden}
.featured-work_images .img-thumbnail {
    padding: 0px;
    background-color: #fff;
   border: 0px;
    border-radius: 0rem;
    max-width: 111%;
    height: auto;
}

.featured-work_images .image__cover
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(3,3,3,0.94);
    color: #fff;
    opacity: 0;
}

.featured-work_images .image__cover:hover
{
    opacity: 1;
    transition: all 1s;

}
.image__cover .demo{
    border: 2px solid #fff;
    display: inline-block;
    padding: 30px;
    margin: 25% auto;
}
.image__cover .demo h4{
   color: var(--semiRed__color, #ed1d24)
}
.image__cover .demo h4,.image__cover .demo p{
   text-transform: uppercase
}
.featured-work_images .row .col-md-4{transition: all .5s ease-in-out}
/************************************ End featured-work__part ****************************************/

/************************************ Start latest-post__part ****************************************/

.latest-post__part .row > div
{
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: hidden;
    border-radius: 0rem;
}
.latest-post__part .container  header p{max-width: 700px; margin: auto; margin-bottom: 50px; line-height: 2}
.latest-post__part .row  div .card-body a{color: var(--semiRed__color, #ed1d24); font-weight: bold}
.latest-post__part .row  div .card-body a:hover{text-decoration: underline}
.latest-post__part .row  div .card-body h5{color: var( --semibNavy__color,#08526D)}

/************************************ End latest-post__part ****************************************/

/************************************ Start testimonials__part ****************************************/
.testimonials__part
{
    background-image: url(../Img/testimonial-bg.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position:bottom;
    margin-top: 50px
}
.testimonials__part .overriding
{
    width: 100%;
    height: 100%;
    background: rgba(3,3,3,0.8);
    position: absolute;
    top: 0px;
    left: 0px;
}
.testimonials__part .carousel-caption {
    position: relative;
    right: 2em;
    top: 6em;
    left: 0em
}
.testimonials__part .carousel-caption p{max-width: 700px; margin: 20px auto; line-height: 2}

.testimonials__part a{position: absolute; top: 15em; background-color: #000; opacity: 1; color: #fff; height: 50px; width: 50px; z-index: 10;}
.testimonials__part a:hover i{color:var(--semiRed__color, #ed1d24); transform: scale(1.5); transition: all 0.3}
.testimonials__part .left-arrow{left: -5em;}
.testimonials__part .left-arrow a{left: -5em; color: var(--semiRed__color, #ed1d24) }
.testimonials__part:hover .left-arrow{left: 1em; transition: all 0.3s ease-in-out}
.testimonials__part .right-arrow{right: -5em}
.testimonials__part:hover .right-arrow{right: 1em; transition: all 0.3s ease-in-out}
.testimonials__part .carousel-inner { height: 500px;}
/************************************ End testimonials__part ****************************************/

/************************************ Start pricing-table__part ****************************************/
.pricing-table__part {padding: 50px 0px; background-color: #f7f7f7;}
.pricing-table__part .container .card {margin: 10px}
.pricing-table__part .container header div.card.col div.card-body div.price{background-color: var(--semiRed__color, #ed1d24); color: #fff}
.pricing-table__part p {max-width: 700px; margin: auto; line-height: 2; margin-bottom: 30px}
.pricing-table__part .container .card .card-body .card-title {color: var( --semibNavy__color,#08526D); margin-top: 50px }
.pricing-table__part .container .card .card-body div {font-size: 40px; color: var( --semibNavy__color,#08526D); background-color: #f7f7f7; padding: 5px 0px; font-weight: bold; margin: 30px 0px}
.pricing-table__part .card .card-body {padding: 0}
.pricing-table__part .container .card .card-body div span{font-size: 20px; text-transform: uppercase; font-weight: 400}
.pricing-table__part .container .card .card-body ul > li{margin: 20px}
.pricing-table__part .container .card .card-body button
{border: hidden; background-color: var(--semiRed__color, #ed1d24); padding: 15px 30px; color: #fff; width: 200px; margin: 20px 0px 70px 0px}
.pricing-table__part .container .card .card-body button:hover{background-color: var( --semibNavy__color,#08526D); transition: all .3s ease-in-out}
.pricing-table__part .plan-table .price {padding: 0px}
/************************************ End pricing-table__part ****************************************/

/************************************ Start whyChooseUs__part ****************************************/
.whyChooseUs__part {overflow: hidden}
.whyChooseUs__part .chamber
{
    background-image: url(../Img/chmaber.jpg);
    background-size: cover;
    background-position: center
}
.whyChooseUs__part .whyChooseUs
{
    background-color:  var( --semibNavy__color,#08526D);
    padding: 100px 30px
}
.whyChooseUs__part .whyChooseUs h3 {color: #fff; margin-bottom: 30px}
.whyChooseUs__part .whyChooseUs p {color: #b5c3c9; margin-bottom: 70px}
.whyChooseUs__part .whyChooseUs button
{border: hidden; background-color: var(--semiRed__color, #ed1d24); padding: 15px 30px; color: #fff; width: 200px; font-weight: bold}
.whyChooseUs__part .whyChooseUs button:hover{background-color: var( --semibNavy__color,#08526D); transition: all .3s ease-in-out}
/************************************ End whyChooseUs__part ****************************************/

/************************************ Start stats__part ****************************************/
.stats__part{padding: 100px}
.stats__part .container .row .col i{color: var( --semibNavy__color,#08526D); margin-bottom: 10px}
.stats__part .container .row .col span:nth-child(2){display: block; color: var( --semibNavy__color,#08526D); font-weight: bold; font-size: 45px}
.stats__part .container .row .col span:nth-child(3){display: block; color: var(--semiRed__color, #ed1d24); letter-spacing: 2px}
/************************************ End stats__part ****************************************/

/************************************ Start ContactUs__part ****************************************/
.ContactUs__part {background-color: var(--semiRed__color, #ed1d24); color: #fff; padding: 60px 70px; text-transform: uppercase; font-weight: bold}
.ContactUs__part .container p{font-size: 30px; display: inline-block; font-weight: 200}
.ContactUs__part .container button
{
    border: 2px solid #fff;
    background-color: var(--semiRed__color, #ed1d24);
    padding: 10px 5px;
    color: #fff;
    width: 170px;
    margin: 20px;
}
.ContactUs__part .container button:hover{background-color: var( --semibNavy__color,#08526D); transition: all .3s ease-in-out}
/************************************ End links__part ****************************************/

/************************************ Start links__part****************************************/
.links__part {padding: 100px 80px}
.links__part span.Elite{color:var( --semibNavy__color,#08526D);font-weight: 500; font-size: 45px }
.links__part span.Corp{color:var(--semiRed__color, #ed1d24); font-size: 45px}
.links__part .container-fluid .row p{line-height: 2}
.links__part .container-fluid .row i{margin-right: 6px; color: var( --semibNavy__color,#08526D)}

.links__part .container-fluid .row ul li {color: var( --semibNavy__color,#08526D); font-size: 18px; margin: 10px }
.links__part .container-fluid .row ul li>i{color: rgba(0,0,0,0.2); margin-right: 5px;transition: all .3s ease-in-out;}
.links__part .container-fluid .row ul li:hover {color: var(--semiRed__color, #ed1d24); transition: all .3s ease-in-out; transform: translateX(10px)}
.links__part .container-fluid .row .col h4{color: var( --semibNavy__color,#08526D); font-weight: 400;line-height: 2}
/************************************ End footer__part ****************************************/

/************************************ Start footer__part ****************************************/
.footer__part {padding: 5px 30px 0px 5px;}
.footer__part span{color: #666}
.footer__part ul{display: flex; justify-content: flex-end;}
.footer__part ul >li {margin: 10px; font-size: 20px; opacity: 0.5}
.footer__part ul li:nth-child(1):hover {color: rgb(48, 78, 145); opacity: 1; transition: all .3s}
.footer__part ul li:nth-child(2):hover {color: #00f; opacity: 1; transition: all .3s}
.footer__part ul li:nth-child(3):hover {color: #00f; opacity: 1; transition: all .3s}
.footer__part ul li:nth-child(4):hover {color: #b81b72; opacity: 1; transition: all .3s}
.footer__part ul li:nth-child(5):hover {color: var(--semiRed__color, #ed1d24); opacity: 1; transition: all .3s}
/************************************ End footer__part ****************************************/
